body {
    font-size: 20px;
}

.btn:hover { 
    background: #eee;
}

.btn {
    color: #111;
    text-decoration: none;
    font-size: 15px;
    border-width: 2px;
    border-style: solid;
    background-color: #ccc;
    margin-right: 4px;
    padding-left: 3px;
    padding-right: 3px;
}


.idx:hover { 
    background: #fcc;
}

.idx {
    background-color: #faa;
}


.language:hover { 
    background: #cfc;
}

.language {
    background-color: #afa;
}


.tag:hover { 
    background: #ffc;
}

.tag {
    color: #111;
    text-decoration: none;
    font-size: 15px;
    border-width: 2px;
    border-style: solid;
    background-color: #ffa;
    margin-right: 4px;
    padding-left: 3px;
    padding-right: 3px;
}
