<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'default.css') }}">
    </head>
    <body>
        {% if html_code %}
        {{ html_code|safe }}
        {% else %}
        <form action="{{ url_for('bebel') }}" method="POST">
            code:
            <br>
            <textarea name="code" cols="150" rows="20"></textarea>
            <br>
            <select name="language">
            {% for lexer in lexers %}
                <option value="{{ lexer[0] }}">{{ lexer[0] }}</option>
            {% endfor %}
            </select>
            <br>
            <input type="submit" value="Save">
        </form>
        {% endif %}
    </body>
</html>
