<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <form action="{{ url_for('new_tag') }}" method="POST">
        <div id="tree"> </div>
        <br>
        <input type="submit" value="Save">
    </form>
    <script type="text/javascript">
            
var TAGS = {{ tags | safe }};
var ROOT = "{{ root }}";

function around_key(key, offset) {
    conn = (key == ROOT)?"└─ ":"├─ ";
    return offset + "<span style='color:#fff' >_</span>" + conn + "<span id='" + key + "'>" + key + "</span><br>";
}

function plus_offset(key) {
    if(key != ROOT) {
        return "<span style='color:#fff' >_</span>│<span style='color:#fff' >_</span>";
    } else {
        return "<span style='color:#fff' >___</span>";
    }
}

function add_brother(name, offset) {
    return offset + "<span style='color:#fff' >_</span>└─ <input name='" + name + "' style='height:11px' type='text'/><br>";
}

function add_child(name, offset) {
    return offset + "<span style='color:#fff' >_</span>└─ <input name='" + name + "' style='height:11px' type='text'/><br>";
}

function show_tree(tags, key, offset, last) {
    str = around_key(key, offset);
    if(!tags[key]) {
        str += add_child(key, offset + plus_offset(key));
    }
    for(t in tags[key]) {
        str += show_tree(tags, tags[key][t], offset + plus_offset(key));
    }
    if(tags[key]) {
        str += add_brother(key, offset + plus_offset(key));
    } 
    return str;
} 
 

document.getElementById('tree').ondblclick = 
function(e) {
    document.getElementById('tree').innerHTML = '<span id="{{ root }}">-----</span>' + '<br>' + show_tree(TAGS, e.target.id, '', false);
};

document.getElementById('tree').innerHTML = '<span id="{{ root }}">-----</span>' + '<br>' + show_tree(TAGS, ROOT, '', false);
    </script>
</body>
</html>
